/* .zoom-circle {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  pointer-events: none;
} */

.highlight-square {
  position: absolute;
  pointer-events: none; /* Ensure it doesn't interfere with clicks */
  border: 2px solid rgba(0, 0, 0, 0.5); /* Example for visibility */
  /* border-radius: 50%; */
  overflow: hidden;
}

@keyframes win-animation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.timer-container {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1;
}

.win-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: win-animation 1s ease-in-out; /* Apply the animation */
  z-index: 1;
}

.game-in-progress {
  filter: grayscale(0%); /* Removes grayscale on hover for effect */
}

.game-win {
  filter: grayscale(100%); /* Removes grayscale on hover for effect */
}

.mode-hardcore {
  filter: grayscale(100%); /* Removes grayscale on hover for effect */
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.time-wrapper {
  position: relative;
  width: 80px;
  height: 60px;
  font-size: 48px;
  font-family: "Montserrat";
}

.time-wrapper .time {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s;
  color: #eb1f1f;
  font-weight: 900;
}

.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%);
}

.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%);
}
