.black-overlay {
  filter: brightness(10%); /* Removes grayscale on hover for effect */
}

.highlight-square {
  position: absolute;
  pointer-events: none; /* Ensure it doesn't interfere with clicks */
  border: 2px solid rgba(0, 0, 0, 0.5); /* Example for visibility */
  /* border-radius: 50%; */
  overflow: hidden;
}

@keyframes win-animation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.win-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: win-animation 1s ease-in-out; /* Apply the animation */
  z-index: 1;
}

/* Shake animation when click is wrong */
.shake-animation {
  animation: shake 0.5s ease;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Attempts left text styling */
.attempts-left {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  color: red;
  z-index: 100;
}
